<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <title>Tellioglu Forum</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <div class="container">
        <header>tellioglu forum</header>
        <hr>
        <nav>
      <a href="{{ url_for('home') }}">anasayfa</a>
      <a href="{{ url_for('topics') }}">konular</a>
      <a href="{{ url_for('members') }}">uyeler</a>
      <a href="{{ url_for('profile') }}">profil</a>
      <a href="{{ url_for('signup') }}">üye ol</a>
      <a href="{{ url_for('login') }}">giriş</a>
        </nav>
        <hr>
        <section class="topics-section">
            <h2>güncel konular</h2>
            <hr>

            <div class="topic">
                <div class="topic-title">savaşta son durum</div>
                <div class="meta-info">Mehmet – 02.07.2025</div>
            </div>
            <hr>

            <div class="topic">
                <div class="topic-title">fed faiz kararı hakkında</div>
                <div class="meta-info">Ayşe – 01.07.2025</div>
            </div>
            <hr>

            <div class="topic">
                <div class="topic-title">react nasıl öğrenilir</div>
                <div class="meta-info">Ali – 30.06.2025</div>
            </div>
            <hr>

            <div class="topic">
                <div class="topic-title">flask sizce kullanılır mı</div>
                <div class="meta-info">Zeynep – 29.06.2025</div>
            </div>
            <hr>

            <div class="topic">
                <div class="topic-title">yapay zeka forumları önerisi</div>
                <div class="meta-info">Kemal – 28.06.2025</div>
            </div>
            <hr>

            <div class="topic">
                <div class="topic-title">linux mu windows mu?</div>
                <div class="meta-info">Elif – 27.06.2025</div>
            </div>
            <hr>

            <div class="topic">
                <div class="topic-title">haftalık kitap önerileri</div>
                <div class="meta-info">Burak – 26.06.2025</div>
            </div>

        </section>
    </div>

</body>

</html>
